.col-md-4, .col-md-6 {
  margin-top: 20px; }

#chart-circle .highcharts-point {
  stroke-width: 5px; }

#chart-pareto .highcharts-axis-labels {
  display: none !important; }

#chart-pareto .highcharts-legend-item {
  display: none !important; }

#chart-pareto .highcharts-axis-title {
  display: none !important; }

#chart-3d-pie .highcharts-pie-series .highcharts-point {
  stroke: transparent !important; }

#chart-3d-pie-percent .highcharts-pie-series .highcharts-point {
  stroke: transparent !important; }

#chart-line .highcharts-grid-line {
  fill: grey;
  stroke: #e6e6e6; }

#chart-line .highcharts-plot-background {
  fill: #fff; }
